


.payment
{
    display: flex;
    margin-top: 7vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 20vw;


    .selectTicket
    {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        width: 50%;
        
        &__description
        {
            font-family: Roboto; /* Body */
            font-size: 1.8vw; 
            line-height: 36px; 
            color: #171A1FFF; /* neutral-900 */
        }

        &__detail
        {
            font-family: Roboto; /* Body */
            font-size: 1.35vw; 
            line-height: 28px; 
            color: #303236FF; 
        }

        &__choose
        {
            display: flex;
            flex-direction: column;
            margin-top: 1vw;

            .ticket
            {
                height: 56px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 3.5vw;
                align-items: center;

                &__adult
                {
                    font-family: Inter; 
                    font-size: 16px; 
                    line-height: 26px; 
                    color: #565D6DFF; /* neutral-600 */ 
                }

                &__quantity
                {
                    width: 20vw;
                    display: flex;
                    gap: 1vw;
                    align-items: center;


                    .value
                    {
                        font-family: Roboto; /* Body */
                        font-size: 16px; 
                        line-height: 26px; 
                        color: #171A1FFF; /* neutral-900 */
                    }
                    .buy 
                    {


                        width: 176px; 
                        height: 56px; 
                        background: #FFFFFFFF; /* white */
                        border-radius: 6px; /* border-m */
                        border-width: 1px; 
                        border-color: #171A1FFF; /* neutral-900 */
                        border-style: solid; 
                        box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f; /* shadow-m */
                        align-items: center;
                        align-self: center;
                        display: flex;
                        justify-content: space-between;

                        &__lest
                        {
                            width: 48px; 
                            height: 48px; 
                            padding: 0 10px; 
                            display: flex; 
                            align-items: center; 
                            justify-content: center; 
                            color: #565D6DFF; /* neutral-600 */
                            background: #F3F4F6FF; /* neutral-200 */
                            opacity: 1; 
                            border: none; 
                            border-radius: 6px; /* border-m */
                            gap: 0px; 
                            margin-left: 3.5px;
                            cursor: pointer;

                        }
                        
                        &__number
                        {
                            font-family: Roboto; /* Body */
                            font-size: 16px; 
                            line-height: 26px; 
                            color: #171A1FFF; /* neutral-900 */
                        }

                        &__more
                        {
                            width: 48px; 
                            height: 48px; 
                            padding: 0 10px; 
                            display: flex; 
                            align-items: center; 
                            justify-content: center; 
                            color: #FFFFFFFF; /* white */
                            background: #000667FF; 
                            opacity: 1; 
                            border: none; 
                            border-radius: 6px; /* border-m */
                            gap: 0px; 
                            margin-right: 3.5px;
                            cursor: pointer;


                            

                        }



                    }

                }
            }
        }
    }

    .resumen
    {
        width: 40vw; 
        height: auto; 
        background: #F4F4F4FF; 
        border-radius: 6px; /* border-m */
        box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        padding-left: 1.5vw;
        padding-top: 1.65vw;

        &__title
        {
            font-family: Epilogue; 
            font-size: 24px; 
            line-height: 36px; 
            color: #171A1FFF; /* neutral-900 */
            margin-bottom: 1vw;
        }

        &__data
        {

            display: flex;
            .figure
            {
                width: 7.5vw; 
                height: 11vw; 
                background: #F4F4F4FF; 
                border-radius: 3px; /* border-xs */
                box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
                display: flex;
                justify-content: center;
                padding-top: 0.5vw;
                padding-bottom: 0.8vw;
                .image
                {
                    width: 6.5vw; 
                    height:  10vw; 
                    border-radius: 6px; /* border-m */
                }
            }

            .data
            {
                display: flex;
                flex-direction: column;
                font-family: Roboto; /* Body */
                font-size: 18px; 
                line-height: 28px; 
                color: #303236FF; 
                padding-left: 1vw;
            }
        }


        &__p
        {
            padding-top: 60px;
            width: 32vw; 
            font-family: Roboto; /* Body */
            font-size: 18px; 
            line-height: 28px; 
            color: #303236FF; 
        }

        .total
        {
            display: flex;
            justify-content: space-between;


            .resumen__total
            {
                padding-top: 1vw;
                font-family: Inter; 
                font-size: 1.375vw; 
                line-height: 28px; 
                color: #171A1FFF; /* neutral-900 */
                margin-bottom: 10px;
                padding-bottom: 10px;

            }  

            b
            {
                padding-right: 3vw;
                font-family: Epilogue; 
                font-size: 3.5vw; 
                line-height: 58px; 
                color: #171A1FFF; /* neutral-900 */
            }
        }


        .next
        {

            margin-top: 2vw;
            width: 35vw; 
            height: 4vw; 
            background: #C2C3D0FF; 
            border-radius: 28px; 
            box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
            display: flex;
            justify-content: center;
            align-content: center;
            align-self: center;
            align-items: center;
            margin-bottom: 2vw;



            span
            {
                font-family: Inter; 
                font-size: 1.3vw; 
                line-height: 26px; 
                color: #FFFFFFFF; /* white */
            }
        }

        .active 
        {
            background: #000667FF; 
            cursor: pointer;
        }
    }
}