
.selectSeats
{
    display: flex;
    flex-direction: column;
    width: 50%;


    &__info
    {
        width: 80%;
        height: 15%;
        display: flex;
        flex-direction: column;
        gap: 0.8vw;
        .seatsTitle 
        {
            font-family: Roboto; /* Body */
            font-size: 1.8vw; 
            line-height: 36px; 
            color: #171A1FFF; /* neutral-900 */
        }

        .seatsInfo 
        {
            font-family: Roboto; /* Body */
            font-size: 1.35vw; 
            line-height: 28px; 
            color: #303236FF; 
        }

        .options
        {
            display: flex;
            gap: 3vw;

            .option
            {
                display: flex;
                align-content: center;
                align-items: center;
                gap: 0.4vw;

                .material-symbols-outlined {
                    width: 2.7vw; 
                    height: 2.5vw; 
                    fill: #FCB831FF; /* warning-500 */
                    
                        position: relative;
                        font-family: 'Material Symbols Outlined';
                        font-size: 2.15vw; /* Ajusta el tamaño del ícono según tu diseño */
                        color: transparent; /* Hace el texto transparente para ocultarlo */
                
                        &.yellow 
                        {                /* Agrega el estilo de contorno para simular el ícono */
                            text-shadow: 
                            -1px -1px 0 yellow,
                            1px -1px 0 yellow,
                            -1px 1px 0 yellow,
                            1px 1px 0 yellow;
                        }  
                        &.red 
                        {                /* Agrega el estilo de contorno para simular el ícono */
                            text-shadow: 
                            -1px -1px 0 red,
                            1px -1px 0 red,
                            -1px 1px 0 red,
                            1px 1px 0 red;
                        }    
                        &.blue 
                        {                /* Agrega el estilo de contorno para simular el ícono */
                            text-shadow: 
                            -1px -1px 0 blue,
                            1px -1px 0 blue,
                            -1px 1px 0 blue,
                            1px 1px 0 blue;
                        }          
                      
                
                
                
                      }

                      p
                      {
                        font-size: 1.5vw;
                      }
            }
        }


    }

    &__select
    {

        width: 80%;
        height: 75%;
        margin-top: 7vw;
        

        .Fila
        {
            display: flex;
            margin-bottom: 2vw;


            &.A, &.B,  &.C, &.D, &.E, &.F, &.G, &.H, &.I, &.J
            {

                
                    .grupo1
                    {


                        &.last
                        {
                            margin-right: 50px;

                        }

                        &.G
                        {
                            display: flex;
                            justify-content: end;
                            align-content: end;
                            align-self: flex-end;
                        }

                        .Name
                        {
                            display: flex;
                            gap: 4px;
                            align-items: center;
                            font-size: 0.9vw;
                        }




                    }

                    .grupoF
                    {


                        &.first 
                        {
                            margin-left: 64%;
                        }

                        .Name
                        {
                            width: 100%;
                            background-color: re;
                            display: flex;
                            gap: 4px;
                            align-items: center;
                            font-size: 0.9vw;
                            justify-content: space-between;
                            
                        }
                        
                    }


                    .filaF
                    {
                        font-size: 0.9vw;
                        align-items: center;
                        align-self: center;
                    }

            }
            

        }

    }


}













      

      
      


  .resumen
  {

    &__title
    {
        &.seta
        {
            font-size: 2.2vw;
        }
    }

    &__p
    {
        &.seta
        {
            font-size: 1.5vw;
            padding-top: 4.5vw;
        }
    }

  }