.btnD
{
    border: 50px;
    background-color: aqua;
    border-radius: 20%;
}

.btnP
{
    border: 50px;
    background-color: rgb(255, 0, 0);
    border-radius: 20%;
    
}

.carteleraMovies
{
    margin-top: 90px;
    margin-left: 30px;

    .containerMovie
    {
        margin-top: 70px;
        display: flex;
        gap: 3vw;
        flex-wrap: wrap;
    }
}