
.infoMovie
{
    width: 293px;
    border-radius: 20px;

    &__img{
        
        width: 100%;
        height: 435px;
        border-radius: 6px;
    }

    &__description
    {

            width: 284px; 
            font-family: Inter; 
            font-size: 18px; 
            line-height: 28px; 
            color: #171A1FFF; /* neutral-900 */
    }

    &__title 
    {

            width: 228px; 
            font-family: Inter; 
            font-size: 12px; 
            line-height: 20px; 
            color: #171A1FFF; /* neutral-900 */
          
    }

    &__data 
    {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        .infoMovie__detail
        {
    
            max-width: 300px; 
            height: 25px; 
            background: #EAEAEAFF; 
            border-radius: 3px; /* border-xs */
            box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
            padding-bottom: 5px;
            margin-bottom: 10px;
    
            justify-content: center;
            align-items: center;
            align-self: center;
            align-self: center;
    
            .restriction
            {
    
                    font-family: Inter; 
                    font-size: 11px; 
                    line-height: 18px; 
                    color: #D84E5FFF; 
                    padding: 5px;
                    margin: 10px;
                    
                    
    
            }


        
            }

            .infoMovie__time
            {
                max-width: 300px; 
                height: 25px; 
                background: #EAEAEAFF; 
                border-radius: 3px; /* border-xs */
                box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
                padding-bottom: 5px;
                margin-bottom: 10px;
        
                justify-content: center;
                align-items: center;
                align-self: center;
                align-self: center;
                .time
                {
                    font-family: Inter; 
                    font-size: 11px; 
                    line-height: 18px; 
                    color: black; 
                    padding: 5px;
                    margin: 10px;
                }
            }
    }
}