

.form
{
    margin-top: 3vw;

    display: flex;
    flex-direction: column;
    gap: 1vw;
    font-size: 1.4vw;
    

}

.resumen
{

  &__title
  {
      &.seta
      {
          font-size: 2.2vw;
      }
  }

  &__p
  {
      &.seta
      {
          font-size: 1.5vw;
          padding-top: 4.5vw;
      }
  }

}

